.navbar {
  background-color: #841617;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar to the top */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Smooth transition for sliding */
}

.navbar.hidden {
  transform: translateY(-100%); /* Slide the navbar out of view */
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-right: 50px; /* Add some space for the hamburger icon */
}

.navbar-brand a:first-child {
  font-weight: bold;
  color: white;
  text-decoration: none;;
}

.navbar-logo-link {
  margin-left: 10px; /* Add some space between text and logo if needed */
}

.navbar-logo {
  height: 40px;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
